<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  
    <!-- 加载顺序为：context-param -> listener -> filter -> servlet 
                           而同个类型之间的实际程序调用的时候的顺序是根据 对应的 mapping 的顺序进行调用的。
    -->

    <!-- 声明应用范围内的初始化参数, 此处指定Spring的配置文件 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring*.xml</param-value>
    </context-param>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    
    <!-- 请求验证过滤器 -->
    <filter>
        <filter-name>reqVerifyFilter</filter-name>
        <filter-class>com.maker.app.filter.ReqVerifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>reqVerifyFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    
    <!-- 请求参数过滤器 -->
    <filter>
        <filter-name>reqParamsFilter</filter-name>
        <filter-class>com.maker.app.filter.ReqParamsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>reqParamsFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <!-- spring初始化 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <!-- 自定义核心监听器 -->
    <listener>
        <listener-class>com.maker.app.listener.InitSystemListener</listener-class>
    </listener>


    <!-- struts2 -->
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
        <init-param>
            <param-name>actionPackages</param-name>
            <param-value>com.maker.app.action</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
</web-app>